
{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% if content.field_facts_image|field_value %}
    {% set col_class = 'col-md-6 col-xs-12' %}
{% else %}
    {% set col_class = 'col-md-12 col-xs-12' %}
{% endif %}

{%
set classes = [
'media',
'media-facts',
'clearfix',
]
%}
<article{{ attributes.addClass(classes) }}>
    {{ content.contextual_links }}
  {% if content.field_facts_image|field_value %}
    <div class="facts__left {{ col_class }}">
      <div class="facts__image"{{ content.field_facts_image|quickedit_attr }}>{{ content.field_facts_image|field_value }}</div>
    </div>
  {% endif %}

  <div class="facts__right {{ col_class }}">
    <div class="facts__top">
      <h2 class="facts__title"{{ content.field_title|quickedit_attr }}>{{ content.field_title|field_value }}</h2>
      <div class="facts__text"{{ content.field_facts_text|quickedit_attr }}>{{ content.field_facts_text|field_value }}</div>
    </div>
    <div class="facts__bottom">
      <div class="facts__fact"{{ content.field_facts_fact|quickedit_attr }}>{{ content.field_facts_fact|field_value }}</div>
    </div>
  </div>
</article>
