{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
set media_classes = [
  'audio',
  'media--preview',
  'clearfix',
]
%}
<article{{ attributes.addClass(media_classes) }}>
  <div class="media--preview__type-text">{{ 'Audio'|t }}</div>
  {% if content.field_audio_preview|field_value %}
    <a href="{{ audio_url }}"><div class="audio__image teaser-image">{{ content.field_audio_preview|field_value }}</div></a>
  {% endif %}
  {% if content.field_title|field_value %}
    <span class="media--preview__caption">{{ content.field_title|field_value }}</span>
  {% endif %}
  {% if content.field_description|field_value %}
    <div class="media--preview__description">{{ content.field_description|field_value }}</div>
  {% endif %}
</article>
