{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% set mapBase = attribute(maps,content.map_id) %}
{#// Show alert if map could not load because the url does not contain "nrw.de"#}
{% if mapBase.url is defined %}
  Warnung: Der IT-NRW-Kartendienst funktioniert nur auf URLs, die "nrw.de" enthalten.
{% endif %}

<div id="itnrwMap_{{ content.map_id }}" class="itnrwMap"
     data-itnrw-coords="[epsg:25832;
    {{ mapBase.east }},{{ mapBase.north }};
    {{ mapBase.address }};
    {{ mapBase.company }}<br>{{ mapBase.address }}<br>{{ mapBase.zip }}<br>{{ mapBase.city }};
    {{ mapBase.company }};
    {{ mapBase.pin }}]"
     data-itnrw-map="zoomlevel:12">
</div>
