{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
set media_classes = [
  'video',
  'media--embedded',
  'clearfix',
]
%}
<article{{ attributes.addClass(media_classes) }}>
  <div class="video__video teaser-image">
    {{ content.thumbnail }}
  </div>
  {% if content.field_video_caption|field_value or content.field_copyright|field_value %}
  <div class="media--embedded__info">
    {% if content.field_video_caption|field_value %}
      <div class="video__caption"{{ content.field_video_caption|quickedit_attr }}>{{ content.field_video_caption|field_value }}</div>
    {% endif %}
    {% if content.field_copyright|field_value %}
      <span class="media--embedded__copyright">
        <span class="media--embedded__copyright-label"{{ content.field_copyright|quickedit_attr }}>{{ '&copy;'|trans }}</span>
        {{ content.field_copyright|field_value }}
      </span>
    {% endif %}
  </div>
  {% endif %}
  {% if content.field_description|field_value %}
    <div class="media--embedded__description"{{ content.field_description|quickedit_attr }}>{{ content.field_description|field_value }}</div>
  {% endif %}
</article>